@{
    Layout="Shared/_Layout.cshtml";
}
<form action="/results" method="post">
  <div class="form-group">
    <label for="word">Enter a word:</label>
    <input type="text" name="word" id="word" required>
  </div>
  <button type="submit" class="btn btn-lg btn-primary">Get your word's scrabble score:</button>
</form>
